
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
                                                              <!-- Display tag if condition = True -->
  <table  border="2px solid black" *ngIf='employees && employees.length'>
    <th>ID</th>
    <th>Name</th>
    <th>Location</th>
                                                               <!-- For loop to create <tr> -->
    <tr *ngFor='let emp of employees | employeefilter:get_as_you_write'  [class.clicked]='emp.clickedOrNot' (click)='clickfunc(emp)'>
        <td>{{emp.empId}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.location}}</td>
    </tr>
  
  </table>

  <input type="text" [(ngModel)]="get_as_you_write">
  {{get_as_you_write}}
  <input type="text" [ngModel]="process_what_you_write" (ngModelChange)="changefunc($event)">
  {{process_what_you_write}}

</div>

<cust-comp>Not found CUSTOMERcomponent</cust-comp>
<emp-comp>Not found EMPLOYEEcomponent</emp-comp>
