<!--
INPUT FIELDS have the following states:

$untouched : The field has not been touched yet
$touched : The field has been touched
$pristine : The field has not been modified yet
$dirty : The field has been modified
$invalid : The field content is not valid
$valid : The field content is valid

FORMS have the following states:

$pristine : No fields have been modified yet
$dirty : One or more have been modified
$invalid : The form content is not valid
$valid : The form content is valid
$submitted : The form is submitted


CSS Calsses
The following classes are added to, or removed from, INPUT FIELDS:

ng-untouched : The field has not been touched yet
ng-touched : The field has been touched
ng-pristine : The field has not been  modified yet
ng-dirty : The field has been modified
ng-valid : The field content is valid
ng-invalid : The field content is not valid
ng-valid-key : One key for each validation. Example: ng-valid-required, useful when there are more than one thing that must be validated
ng-invalid-key : Example: ng-invalid-required

The following classes are added to, or removed from, FORMS:

ng-pristine : No fields has not been modified yet
ng-dirty : One or more fields has been modified
ng-valid : The form content is valid
ng-invalid : The form content is not valid
ng-valid-key : One key for each validation. Example: ng-valid-required, useful when there are more than one thing that must be validated
ng-invalid-key : Example: ng-invalid-required
-->


<!DOCTYPE html>
<html>
<head>
	<title>Validation on forms</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<style>
input.ng-invalid {                                                    /*Usage of CSS Classes with angularJS*/
    background-color: pink;
}
input.ng-valid {
    background-color: lightgreen;
}
form.ng-pristine {
    background-color: lightblue;
}
form.ng-dirty {
    background-color: pink;
}
</style>
</head>
<body ng-app="">

<form name="appform" novalidate>                                     <!--attribute novalidate is used to disable default browser validation.-->
  Pick a topic:
  <input type="radio" ng-model="myVar" value="dogs">Dogs
  <input type="radio" ng-model="myVar" value="tuts">Tutorials
  <input type="radio" ng-model="myVar" value="cars">Cars<br><br>
  <input type="email" ng-model="emailfld" name="appfld" required>    <!--Both conditions are checked   ie    email && required-->
</form>

{{appform.appfld.$pristine}}                                            <!--Validation   true or false-->


<div ng-switch="myVar">                                              <!--EXAMPLE of switch case in angularJS-->
  <div ng-switch-when="dogs">                                      
     <h1>Dogs</h1>
     <p>Welcome to a world of dogs.</p>
  </div>
  <div ng-switch-when="tuts">
     <h1>Tutorials</h1>
     <p>Learn from examples.</p>
  </div>
  <div ng-switch-when="cars">
     <h1>Cars</h1>
     <p>Read about cars.</p>
  </div>
</div>


</body>
</html>