<!--
 |currency : Format a number to a currency format.         eg:- |currency : "your symbol-$ (default)" : decimal places (integer value)
 |date : Format a date to a specified format.
 |filter : Select a subset of items from an array.         eg:- |filter : expression : true/false (case sensitivity)
 |json : Format an object to a JSON string.
 |limitTo : Limits an array/string, into a specified number of elements/characters.
 |lowercase : Format a string to lower case.
 |number : Format a number to a string.
 |orderBy : Orders an array by an expression.              eg:- |orderBy : 'country' which is a key of each dict in a list of dictionaries
 |uppercase : Format a string to upper case.
-->

<!--NOTE : We can have our custom filters too refer : https://www.w3schools.com/angular/angular_filters.asp-->

<!DOCTYPE html>
<html>
<head>
	<title>filters</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" ></script>
	<script>
		var app=angular.module("app",[]);
		app.controller("appcontroller",function($scope){
$scope.name=["rakshit","kapoor1","adhish","kapoor","ambarsariye"];
$scope.lst=[{name:"india",population:3.2},{name:"america",population:5.8},{name:"russia",population:9.63},{name:"china",population:5.8}];
$scope.orederfunc=function(val){
	$scope.bt=val;
}
		});
	</script>
</head>

<body ng-app="app" ng-controller="appcontroller">
<input type="text" ng-model="txtfld"><br>
<p ng-repeat="i in name|filter:txtfld">{{i}}</p>     <!--Get data from input and filters according to substring entered and in text-->

<p ng-repeat="i in name|filter:'oo'">{{i}}</p>
----Partition------

<p ng-repeat="i in name|orderBy:i">{{i}}</p>   
----Partition------

<p ng-repeat="i in name|limitTo:2">{{i}}</p>   
----Partition------

<button ng-click="orederfunc('name')">by name</button><button ng-click="orederfunc('population')">by population</button>
<p ng-repeat="i in lst|orderBy:bt">{{i.name}} {{i.population}}</p>

<p ng-repeat="i in lst|filter:{name:'I',population:5.8}:true">{{i.name}} {{i.population}}</p> 
                                                                       <!--filters where name has 'i or I' and population is 5.8-->
                                                                       <!--the true param specify strict case senesitivity-->
</body>

</html>