<!--
ng-options VS ng-repeat

Dropdowns made with ng-options allows the selected value to be an object (a dict object to refer to other properties as well on selection), 
while dropdowns made from ng-repeat has to be a string (only one property could be chosen).

an object with key-value pairs
NOTE : The expression in the ng-options attribute is a bit different for objects.
-->


<!DOCTYPE html>
<html>
<head>
	<title>Select</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script>
		var app=angular.module("app",[]);
		app.controller("appcontroller",function($scope,$http){
			$http.get("https://www.w3schools.com/angular/customers.php").then(function successfunc(response){     
			                                                                  //First function of .then() handles success
				$scope.messagefromserver=response.data;
			},
			function errorfunc(response){                                    //Second function of .then() handles error
				$scope.messagefromserver="Something wrong !!";
			});

			$scope.dict={india:3.6,russia:5.4,china:9.2};

			$scope.cars = {
car01 : {brand : "Ford", model : "Mustang", color : "red"},
car02 : {brand : "Fiat", model : "500", color : "white"},
car03 : {brand : "Volvo", model : "XC90", color : "black"}
};
		});
	</script>
	<style>
table, th , td  {                                              /* NICE TABLE Style */
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {                                       /*CSS Considers 1 based index*/
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
</head>
<body ng-app="app" ng-controller="appcontroller">

<table>                                                                   <!--the data is in an array called "records" on the server-->
	<tr ng-repeat="i in messagefromserver.records|orderBy:'City'">           <!--Filters applied to sort by City name-->
	<td>{{$index}}</td>                                                      <!--get index of row (0 based)-->
	<td>{{i.Name}}</td><td>{{i.City|uppercase}}</td><td>{{i.Country}}</td>   <!--and to display in uppercase-->
                                                                             <!--$even and $odd gives the TRUE or FALSE based on index of row-->
	</tr>
</table>
<br>
<select ng-model="countryrepeat">
	<option ng-repeat="i in messagefromserver.records" value="{{i.Country}}">{{i.Country}}</option>   <!--Using ng-repeat-->
</select>
{{countryrepeat}}
<br>
<select ng-model="countryoptions" ng-options="i.Country for i in messagefromserver.records"></select>  <!--Using ng-options-->
{{countryoptions}}
<br>
<select ng-model="selected" ng-options="i for (i,j) in dict"></select>  
                                 <!--value to be used on selection is always a value (j) or value object (j) of key-value pair (i,j) in dict-->
{{selected}}
<select ng-model="selectedcar" ng-options="j.brand for (i,j) in cars"></select> <!--key is value's key-(brand) and value is a dict-->
{{selectedcar.model}}                                                           <!--display value dict's brand-->
</body>
</html>